:root {
    --background: #ffffff;
    --text-primary: #000;
    --button-bg: #000;
    --button-text: #ffffff;
}

[data-theme='dark'] {
    --background: #000;
    --text-primary: #ffffff;
    --button-bg: #fff;
    --button-text: #000;

}

.light-dark-mode{
    background-color: var(--background); 
    height: ;
}