:root {
    --background: #ffffff;
    --text-primary: #000;
    --button-bg: #000;
    --button-text: #ffffff;
}

[data-theme='dark'] {
    --background: #000;
    --text-primary: #ffffff;
    --button-bg: #fff;
    --button-text: #000;

}

.light-dark-mode {
    background-color: var(--background);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    transition: all 0.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.light-dark-mode .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.light-dark-mode p {
    color: var(--text-primary);
    font-size: 2.3rem;
    margin: 0;
}

.light-dark-mode button {
    background-color: var(--button-bg);
    border: 1px solid var(--button-bg);
    color: var(--button-text);
    padding: 12px;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
}