.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
}

.current-image{border-radius: 0.5rem; box-shadow: 0;}