.star-rating {
    width: 100vw;
    height: 40vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.star-rating-active {
    color: #831077;
    outline: red;
}

.star-rating-inactive {
    color: white;
}